.landscapes {
    background-image: url("../../images/IMG_1075.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.landscapes-header {
    font-size: 3rem;
    margin-top: -1rem;
}

@media only screen and (max-width: 1366px) {
    .landscapes {
        background-attachment: scroll;
    }
}
