.footer-container {
    background-color: #cacac7;
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: black;
}

.footer-subscription-heading {
    margin-bottom: 12px;
    font-size: 24px;
    max-width: 100%;
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    text-align: center;
    margin: 16px;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items h2 {
    margin-bottom: 16px;
}

.footer-link-items > h2 {
    color: #000;
}

.footer-link-items a {
    color: #000;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-link-items a:hover {
    color: #7d7d7d;
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 32px;
}

.footer-input::placeholder {
    color: #7d7d7d;
}

/*social icons*/

.social-icon-link {
    color: #000;
    font-size: 24px;
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.social-media-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    align-items: center;
    width: 240px;
}

.social-icon-link {
    margin-right: 2rem;
}

.social-logo {
    color: #000;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-self: center;
    margin-bottom: 16px;
}

.website-rights {
    color: #000;
    margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
    .footer-subscription-heading {
        font-size: 20px;
        margin-bottom: -10px;
        margin-top: -15px;
    }
    .footer-subscription-text {
        font-size: 14px;
    }
    .footer-links {
        padding-top: 2rem;
    }
    .footer-input {
        width: 100%;
    }
    .btn {
        width: 100%;
        padding: 8px 20px;
    }
    .footer-link-wrapper {
        flex-direction: column;
    }

    .social-media-wrapper {
        flex-direction: column;
    }
}
