* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

html {
    /* this makes sure the padding and the border is included in the box sizing */
    box-sizing: border-box;
    overflow-x: hidden;
}

html body {
    padding: 0;
    margin: 0;
    overflow-x: inherit;
}

.pools,
.landscapes,
.nursery,
.maintenance,
.tips,
.contact-us {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
